input/*
!input/.gitkeep

scripts/__pycache__

output/*
!output/.gitkeep

backup/*
!backup/.gitkeep

documentation/input/*
!documentation/input/.gitkeep

documentation/output/*
!documentation/output/.gitkeep

documentation/backup/*
!documentation/backup/.gitkeep

project-tree.txt


.env.dev
.env.prod

.venv

scripts/tests/__pycache__

QA/output/*
!QA/output/.gitkeep