input/*
!input/.gitkeep

output/*
!output/.gitkeep

backup/*
!backup/.gitkeep

documentation/input/*
!documentation/input/.gitkeep

documentation/output/*
!documentation/output/.gitkeep

documentation/backup/*
!documentation/backup/.gitkeep

project-tree.txt


.env.dev
.env.prod